
      <footer class="footer<% if(page.modifier) { %> footer--<%= page.modifier %><% } %>" id="footer">



      </footer>
    </div>


  <script src="<%= path.js %>index.js"></script>
  <%
    if(page.singleJs) {
    page.singleJs.forEach(function(data) {
  %>
  <script src="<%= path.js + data %>index.min.js"></script>
  <% }); %><% } %>
</body>

</html>
