@charset "UTF-8";
@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}
/* Sass Document */
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .5;
    transform: scale(0.75);
  }
}
@keyframes rubber {
  0% {
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(1.25, 0.75, 1);
  }
  26.66667% {
    transform: scale3d(0.75, 1.25, 1);
  }
  33.33333% {
    transform: scale3d(1.15, 0.85, 1);
  }
  43.33333% {
    transform: scale3d(0.95, 1.05, 1);
  }
  50% {
    transform: scale3d(1.05, 0.95, 1);
  }
  66.66667% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.rubber {
  animation: rubber 2s ease infinite;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-weight: inherit;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 10px;
  font-size: 1.0rem;
  line-height: 1;
  position: relative;
  text-size-adjust: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-kerning: normal;
}

article,
aside,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
}

canvas {
  vertical-align: bottom;
}

br,
hr {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a {
  cursor: pointer;
}

/*
#styleguide
見出しのスタイル＊ タイトルをここに書く。

これはサイト全体に適用される見出しのスタイルです＊ コメントをここに書く。



```
<h1 class="h1">title01</h1>
<h2 class="h2">title02</h2>
<h3 class="h3">title03</h3>
```

*/
/*
#styleguide
古い見出し

これは昔の見出しです。

@todo
@非推奨

```
<h1>title01</h1>
```
*/
/*

#colors

@primary #33ccaa
@secondary #aa55cc
@primary-text #cccccc


*/
html {
  font-size: 14px;
}

body {
  font-size: 14px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", MyYuGothicM, YuGothic, メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  font-weight: 400;
  color: #3f3a39;
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pwid";
}
.safari body {
  font-feature-settings: "pkna";
}
.ie body {
  font-family: "Helvetica", Meiryo, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #d6101c;
  transition: 0.25s;
  cursor: pointer;
}
a:active, a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3f3a39;
  margin: 1em auto;
  padding: 0;
}

input,
button,
textarea,
select {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

::selection {
  background: #00a0e9;
  color: #3f3a39;
}

.wrap {
  overflow: hidden;
}

.btn {
  position: relative;
  z-index: 1;
  appearance: none;
  display: inline-block;
  border: 0;
  background: transparent none;
  cursor: pointer;
  transition: 0.25s cubic-bezier(1, 0, 0, 1);
}

.h1 {
  text-transform: uppercase;
  font-size: 42px;
  font-size: 3rem;
  font-weight: 600;
}

.h2 {
  font-style: italic;
  font-size: 28px;
  font-size: 2rem;
  color: #acacac;
}

.c-article {
  max-width: 680px;
  margin: 5em auto;
}

.c-article_inner {
  margin: 4em auto;
}

.c-tab_nav-item {
  width: 32%;
}

.c-tab_nav-target {
  width: 100%;
  height: 60px;
  font-size: 22px;
  font-size: 1.57143rem;
  font-weight: 600;
  color: #3f3a39;
  background-color: rgba(240, 248, 255, 0.45);
}
.c-tab_nav-target.is-active {
  color: #d6101c;
  background-color: aliceblue;
}
.c-tab_nav-target:hover {
  background-color: rgba(240, 248, 255, 0.75);
}

.c-tab_panel {
  padding: 2em;
  background-color: aliceblue;
}

.c-tab_panel-item {
  display: none;
  max-height: 400px;
  overflow: auto;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 2;
  opacity: 0;
}
.c-tab_panel-item.is-active {
  display: block;
  opacity: 1;
}

.c-slider_navi_target {
  width: 80px;
  height: 80px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: rgba(214, 16, 28, 0);
}
.c-slider_navi_target:hover {
  background-color: rgba(214, 16, 28, 0.1);
}
.c-slider_navi_target::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 3px;
  border-style: solid;
  border-color: currentColor;
}
.c-slider_navi_target.c-slider_navi_target--prev::after {
  border-right: 3px;
  transform: translateX(25%) rotate(-45deg);
}
.c-slider_navi_target.c-slider_navi_target--next::after {
  border-left: 3px;
  transform: translateX(-25%) rotate(45deg);
}

.f-flex {
  display: flex;
}

.f-in-flex {
  display: inline-flex;
}

.f-left {
  justify-content: flex-start;
}

.f-right {
  justify-content: flex-end;
}

.f-center {
  justify-content: center;
}

.f-around {
  justify-content: space-around;
}

.f-between {
  justify-content: space-between;
}

.f-top {
  align-items: flex-start;
}

.f-bottom {
  align-items: flex-end;
}

.f-middle {
  align-items: center;
}

.f-wrap {
  flex-flow: wrap;
}

.f-col {
  flex-direction: column;
}

.f-full {
  flex: 1 1;
}

.f-top-s {
  align-self: flex-start;
}

.f-bottom-s {
  align-self: flex-end;
}

.f-middle-s {
  align-self: center;
}

.f-stretch-s {
  align-self: stretch;
}

.f-middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.f-item-xs, .f-item-sm, .f-item-md, .f-item-lg, .f-item-xs-1, .f-item-xs-2, .f-item-xs-3, .f-item-xs-4, .f-item-xs-5, .f-item-xs-6, .f-item-xs-7, .f-item-xs-8, .f-item-xs-9, .f-item-xs-10, .f-item-xs-11, .f-item-xs-12, .f-item-sm-1, .f-item-sm-2, .f-item-sm-3, .f-item-sm-4, .f-item-sm-5, .f-item-sm-6, .f-item-sm-7, .f-item-sm-8, .f-item-sm-9, .f-item-sm-10, .f-item-sm-11, .f-item-sm-12, .f-item-md-1, .f-item-md-2, .f-item-md-3, .f-item-md-4, .f-item-md-5, .f-item-md-6, .f-item-md-7, .f-item-md-8, .f-item-md-9, .f-item-md-10, .f-item-md-11, .f-item-md-12, .f-item-lg-1, .f-item-lg-2, .f-item-lg-3, .f-item-lg-4, .f-item-lg-5, .f-item-lg-6, .f-item-lg-7, .f-item-lg-8, .f-item-lg-9, .f-item-lg-10, .f-item-lg-11, .f-item-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.f-item-xs, .f-item-sm, .f-item-md, .f-item-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generate a set of grid column classes using a namespace
 *
 * .f-item-[namespace] for intelligent column division
 * .f-item-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .f-off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.f-item-xs--1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.f-item-xs--2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.f-item-xs--3 {
  flex-basis: 25%;
  max-width: 25%;
}

.f-item-xs--4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.f-item-xs--5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.f-item-xs--6 {
  flex-basis: 50%;
  max-width: 50%;
}

.f-item-xs--7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.f-item-xs--8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.f-item-xs--9 {
  flex-basis: 75%;
  max-width: 75%;
}

.f-item-xs--10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.f-item-xs--11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.f-item-xs--12 {
  flex-basis: 100%;
  max-width: 100%;
}

.f-off-xs--1 {
  margin-left: 8.33333%;
}

.f-off-xs--2 {
  margin-left: 16.66667%;
}

.f-off-xs--3 {
  margin-left: 25%;
}

.f-off-xs--4 {
  margin-left: 33.33333%;
}

.f-off-xs--5 {
  margin-left: 41.66667%;
}

.f-off-xs--6 {
  margin-left: 50%;
}

.f-off-xs--7 {
  margin-left: 58.33333%;
}

.f-off-xs--8 {
  margin-left: 66.66667%;
}

.f-off-xs--9 {
  margin-left: 75%;
}

.f-off-xs--10 {
  margin-left: 83.33333%;
}

.f-off-xs--11 {
  margin-left: 91.66667%;
}

@media only screen and (min-width: 610px) {
  .f-item-sm--1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .f-item-sm--2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .f-item-sm--3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .f-item-sm--4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .f-item-sm--5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .f-item-sm--6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .f-item-sm--7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .f-item-sm--8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .f-item-sm--9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .f-item-sm--10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .f-item-sm--11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .f-item-sm--12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .f-off-sm--1 {
    margin-left: 8.33333%;
  }

  .f-off-sm--2 {
    margin-left: 16.66667%;
  }

  .f-off-sm--3 {
    margin-left: 25%;
  }

  .f-off-sm--4 {
    margin-left: 33.33333%;
  }

  .f-off-sm--5 {
    margin-left: 41.66667%;
  }

  .f-off-sm--6 {
    margin-left: 50%;
  }

  .f-off-sm--7 {
    margin-left: 58.33333%;
  }

  .f-off-sm--8 {
    margin-left: 66.66667%;
  }

  .f-off-sm--9 {
    margin-left: 75%;
  }

  .f-off-sm--10 {
    margin-left: 83.33333%;
  }

  .f-off-sm--11 {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 769px) {
  .f-item-md--1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .f-item-md--2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .f-item-md--3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .f-item-md--4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .f-item-md--5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .f-item-md--6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .f-item-md--7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .f-item-md--8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .f-item-md--9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .f-item-md--10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .f-item-md--11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .f-item-md--12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .f-off-md--1 {
    margin-left: 8.33333%;
  }

  .f-off-md--2 {
    margin-left: 16.66667%;
  }

  .f-off-md--3 {
    margin-left: 25%;
  }

  .f-off-md--4 {
    margin-left: 33.33333%;
  }

  .f-off-md--5 {
    margin-left: 41.66667%;
  }

  .f-off-md--6 {
    margin-left: 50%;
  }

  .f-off-md--7 {
    margin-left: 58.33333%;
  }

  .f-off-md--8 {
    margin-left: 66.66667%;
  }

  .f-off-md--9 {
    margin-left: 75%;
  }

  .f-off-md--10 {
    margin-left: 83.33333%;
  }

  .f-off-md--11 {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 1280px) {
  .f-item-lg--1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .f-item-lg--2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .f-item-lg--3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .f-item-lg--4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .f-item-lg--5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .f-item-lg--6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .f-item-lg--7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .f-item-lg--8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .f-item-lg--9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .f-item-lg--10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .f-item-lg--11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .f-item-lg--12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .f-off-lg--1 {
    margin-left: 8.33333%;
  }

  .f-off-lg--2 {
    margin-left: 16.66667%;
  }

  .f-off-lg--3 {
    margin-left: 25%;
  }

  .f-off-lg--4 {
    margin-left: 33.33333%;
  }

  .f-off-lg--5 {
    margin-left: 41.66667%;
  }

  .f-off-lg--6 {
    margin-left: 50%;
  }

  .f-off-lg--7 {
    margin-left: 58.33333%;
  }

  .f-off-lg--8 {
    margin-left: 66.66667%;
  }

  .f-off-lg--9 {
    margin-left: 75%;
  }

  .f-off-lg--10 {
    margin-left: 83.33333%;
  }

  .f-off-lg--11 {
    margin-left: 91.66667%;
  }
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 *   Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #d6101c;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #d6101c;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-justify {
  text-align: justify !important;
}
.ie .u-text-justify {
  text-justify: inter-ideograph;
}

.u-left {
  float: left !important;
}

.u-right {
  float: right !important;
}

.u-clearfix:after,
.u-clearfix:before {
  content: "";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-mb--0 {
  margin-bottom: 0 !important;
}

.u-mb--xs {
  margin-bottom: .5rem !important;
}

.u-mb--sm {
  margin-bottom: 1rem !important;
}

.u-mb--md {
  margin-bottom: 2rem !important;
}

.u-mb--lg {
  margin-bottom: 4rem !important;
}

.u-mb--ex {
  margin-bottom: 8rem !important;
}

.u-ml--0 {
  margin-left: 0 !important;
}

.u-ml--xs {
  margin-left: .5rem !important;
}

.u-ml--sm {
  margin-left: 1rem !important;
}

.u-ml--md {
  margin-left: 2rem !important;
}

.u-ml--lg {
  margin-left: 4rem !important;
}

.u-ml--ex {
  margin-left: 8rem !important;
}

.u-mr--0 {
  margin-right: 0 !important;
}

.u-mr--xs {
  margin-right: .5rem !important;
}

.u-mr--sm {
  margin-right: 1rem !important;
}

.u-mr--md {
  margin-right: 2rem !important;
}

.u-mr--lg {
  margin-right: 4rem !important;
}

.u-mr--ex {
  margin-right: 8rem !important;
}

.u-mt--xs {
  margin-top: .5rem !important;
}

.u-mt--sm {
  margin-top: 1rem !important;
}

.u-mt--md {
  margin-top: 2rem !important;
}

.u-mt--lg {
  margin-top: 4rem !important;
}

.u-mt--ex {
  margin-top: 8rem !important;
}

.u-mt--n-xs {
  margin-top: -5px !important;
}

.u-mt--n-sm {
  margin-top: -1rem !important;
}

.u-mt--n-md {
  margin-top: -2rem !important;
}

.u-mt--n-lg {
  margin-top: -4rem !important;
}

.u-mt--n-ex {
  margin-top: -8rem !important;
}

.u-absolute {
  position: absolute !important;
}

.u-relative {
  position: relative !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-hidden {
  display: none !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-sp-visible {
  display: block;
}
@media (min-width: 610px) {
  .u-sp-visible {
    display: none;
  }
}

.u-pad-visible {
  display: none;
}
@media (min-width: 610px) {
  .u-pad-visible {
    display: block;
  }
}

.u-pc-visible {
  display: none;
}
@media (min-width: 769px) {
  .u-pc-visible {
    display: block;
  }
}

.u-large-visible {
  display: none;
}
@media (min-width: 1280px) {
  .u-large-visible {
    display: block;
  }
}

.u-sp-hidden {
  display: none;
}
@media (min-width: 610px) {
  .u-sp-hidden {
    display: block;
  }
}

.u-pad-hidden {
  display: block;
}
@media (min-width: 610px) {
  .u-pad-hidden {
    display: none;
  }
}

.u-pc-hidden {
  display: block;
}
@media (min-width: 769px) {
  .u-pc-hidden {
    display: none;
  }
}

.u-large-hidden {
  display: block;
}
@media (min-width: 1280px) {
  .u-large-hidden {
    display: none;
  }
}

.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.u-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.u-replace-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/?1480492324');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.u-font-serif {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif !important;
}

.u-font-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", MyYuGothicM, YuGothic, メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif !important;
}

.u-font-mono {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

.u-font-tsukushi {
  font-family: "Tsukushi A Round Gothic", "筑紫A丸ゴシック", "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", -apple-system, BlinkMacSystemFont, Meiryo, メイリオ !important;
}

.u-fz-xs {
  font-size: .6rem !important;
}

.u-fz-sm {
  font-size: .8rem !important;
}

.u-fz-md {
  font-size: 1rem !important;
}

.u-fz-lg {
  font-size: 2rem !important;
}

.u-fz-ex {
  font-size: 3rem !important;
}

.u-lh-0 {
  line-height: 1 !important;
}

.u-lh-1 {
  line-height: 1.1 !important;
}

.u-lh-sm {
  line-height: 1.4 !important;
}

.u-lh-md {
  line-height: 1.75 !important;
}

.u-lh-lg {
  line-height: 1.9 !important;
}

.u-lh-ex {
  line-height: 2.5 !important;
}

.u-bold {
  font-weight: bold !important;
}

.u-bg-primary {
  background-color: #e7dbcc;
}
