// =========================================================
//
// article
//
// =========================================================
//
//
.c-article {
  max-width: 680px;
  margin: 5em auto;
}

.c-article_inner {
  margin: 4em auto;
}
